.maintenance-sign {
    text-align: center;
    padding: 50px;
    font-family: 'Courier New', monospace;
    color: #ff0044;
    background-color: #000;
    border: 3px dashed #ffcc00;
    border-radius: 15px;
    max-width: 600px;
    margin: 100px auto;
}
  
.maintenance-sign h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
  
.maintenance-sign h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #ffcc00;
}
  
.maintenance-sign p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #fff;
}

.maintenance-sign a {
    text-decoration: none;
    color: red
}

body{
    background-color: #000000;
}
.maintenance-sign p img{
    width: 90%;
    height: auto;
    border-radius: 50%;
}
